.boxContainer {
  position: relative;
  width: 100%;
}
.boxContainer div {
  margin-bottom: 16%;
  width: 100%;
}
.boxContainer p {
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
}
.boxContainer img {
  width: 100%;
}
.boldText {
  font-weight: 700;
}
.woloxName {
  color: #96d001;
}
.woloxer {
  height: 200px;
}
.countWoloxer {
  position: absolute;
  top: 0;
  z-index: 99;
}
.countWoloxer p {
  font-weight: 700;
}
.greenColor {
  color: #96d001;
}
.blueColor {
  color: #2aa7df;
}
.whiteColor {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 12px;
}
.btnFollowUs {
  background: linear-gradient(to bottom, transparent 5%, transparent 100%);
  color: #ffffff;
  margin-left: 25%;
  width: 50%;
}
.goal {
  background-color: #f2f5fa;
  padding: 10% 0;
  text-align: center;
}
.goal p {
  color: #101429;
  font-weight: 700;
  margin: 0 0 4%;
}
.benefits {
  text-align: center;
}
.benefits h2 {
  font-size: 20px;
  line-height: 32px;
  margin: 0 0 10%;
}
.benefitBox {
  width: 100%;
}
.benefitBox img {
  margin-bottom: 5%;
  width: 30%;
}
.benefitBox p {
  line-height: 35px;
  margin: 0 0 2% 26.5%;
  width: 47%;
}
.footer {
  padding: 5% 0 30%;
  text-align: center;
}
.footer h2 {
  line-height: 42px;
}
.footer p {
  font-size: 21px;
  margin: 0 0 8%;
}
.btnLearnMore {
  background: linear-gradient(to bottom, #2aa7df 5%, #2aa7df 100%);
  color: #ffffff;
}

@media screen and (min-width: 576px) {
  .boxContainer p {
    font-size: 35px;
  }
  .woloxer {
    height: auto;
  }
  .countWoloxer {
    top: 5%;
  }
  .benefits h2 {
    font-size: 28px;
    line-height: 40px;
    margin-left: 15%;
    width: 70%;
  }
  .benefitBox img {
    width: 22%;
  }
  .benefitBox p {
    line-height: 45px;
  }
  .footer h2 {
    font-size: 38px;
    line-height: 54px;
  }
}

@media screen and (min-width: 768px) {
  .boxContainer div {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
  .woloxer {
    height: 322px;
    vertical-align: top;
    width: 50% !important;
  }
  .countWoloxer {
    left: 0;
  }
  .countWoloxer {
    top: 12%;
  }
  .benefitBox img {
    width: 30%;
  }
  .footer {
    padding-bottom: 15%;
  }
}

@media screen and (min-width: 992px) {
  .boxContainer img {
    width: 60%;
  }
  .boxContainer p {
    font-size: 48px;
    margin-left: 14%;
    text-align: left;
  }
  .boxContainer div {
    vertical-align: top;
    margin-bottom: 0;
  }
  .woloxer {
    height: auto;
  }
  .goal {
    padding: 6.4% 0;
  }
  .benefits h2 {
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .benefitBox {
    width: 15% !important;
  }
  .benefitBox h2 {
    font-size: 40px !important;
  }
  .benefitBox img {
    width: 35%;
  }
  .benefitBox p {
    font-size: 27px;
    margin: 0 auto;
    text-align: center;
    width: 70%;
  }
  .footer {
    padding-top: 8%;
    padding-bottom: 7%;
  }
  .footer h2 {
    font-size: 50px;
  }
  .footer p {
    font-size: 40px;
    text-align: center;
    margin: 0 0 3%;
  }
  .countWoloxer {
    width: 50% !important;
  }
  .countWoloxer p {
    margin: 0 !important;
    text-align: center;
    width: 100%;
  }
  .btnFollowUs {
    margin-top: 5%;
  }
}
