.container {
  color: #1d273a;
  width: 100%;
}
.backgroundImage {
  background-image: url(./assets/images/Backgrounds/Bg_Header.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  padding-top: 8%;
  width: 100%;
}
.img {
  margin-left: 15%;
  width: 70%;
}
.linkSelected {
  color: red;
}
ul {
  list-style: none;
  padding: 3%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
ul li {
  margin-bottom: 5%;
}
ul li a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}
.primaryButton {
  background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
  background-color: #ffffff;
  border-radius: 28px;
  border: 1px solid #2aa7df;
  display: inline-block;
  cursor: pointer;
  color: #2aa7df;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2aa7df;
}
.primaryButton:hover {
  background: linear-gradient(to bottom, #2aa7df 5%, #2aa7df 100%);
  background-color: #2aa7df;
  color: #ffffff;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.lngComponent {
  margin: 0 auto;
  width: 50%;
}
.select select {
  font-family: "Arial";
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 1px solid #2aa7df;
  border-radius: 25px;
  background: #ffffff;
  color: #2aa7df;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000000;
  background: #ffffff;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 16px;
  right: 17px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #2aa7df transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: #5889dd;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}
.totalFavs {
  margin-left: 1%;
}
