.formContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 2.5%;
  margin-bottom: 5%;
  transition: 0.3s;
  padding-top: 3%;
  width: 95%;
}
.loaderContainer {
  margin-left: 25%;
  width: 50%;
}
.formContainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.formError {
  color: red;
  text-align: center;
}
.formContainer h1 {
  color: #333333;
  font-weight: 700;
  opacity: 0.9;
  margin-top: 1%;
  text-align: center;
}
.row {
  width: 100%;
}
.halfInput,
.fullInput {
  margin-left: 6%;
  margin-bottom: 5%;
  width: 80%;
}
.input {
  background: #f2f2f2;
  border: none !important;
  display: inline-block;
  padding: 5%;
  width: 100%;
}
.labelCheckbox {
  display: block;
  margin-left: 6%;
  margin-bottom: 5%;
  width: 90%;
}
.checkbox {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}
.disabled {
  opacity: 0.65;
}
.disabled:hover {
  cursor: pointer;
  background-color: #2aa7df !important;
}
.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
}
.info {
  background-color: #2aa7df;
}
.info:hover {
  background: #06709f;
}
.btnSignup {
  /* margin-top: 10%; */
  margin-left: 24%;
  margin-bottom: 5%;
  width: 50%;
}
.select {
  position: relative;
  display: inline-block;
  margin-left: 6%;
  margin-bottom: 5%;
  width: 88%;
}
.select select {
  font-family: "Arial";
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 5%;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 0px;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000000;
  background: #cccccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}
.error {
  display: block;
  color: red;
  width: 86%;
  margin-left: 7%;
  line-height: 21px;
  margin-bottom: 5%;
}

@media screen and (min-width: 768px) {
  .halfInput {
    display: inline-block;
    margin-left: 6%;
    width: 37.5%;
  }
  .halfInput input {
    padding: 10%;
    width: 90%;
  }
  .halfInput:nth-child(even) {
    margin-left: 9%;
  }
  .loaderContainer {
    margin-left: 35%;
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  .formContainer {
    margin-left: 15%;
    padding-top: 1%;
    width: 70%;
  }
  .error {
    margin-left: 0%;
    margin-bottom: 1%;
  }
  .checkbox {
    margin-right: 1%;
    margin-bottom: 3%;
  }
  .loaderContainer {
    margin-left: 38%;
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .formContainer {
    margin-left: 30%;
    width: 40%;
  }
  .loaderContainer {
    margin-left: 44%;
    width: 22%;
  }
}
